/* Place your CSS styles in this file */
h1 {
    background-color: blue;
    text-align: center;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: normal;
}
p1 {
    background-color: black;
    text-align: left;
    font-family: "Source Sans Pro", sans-serif;
    color: #fffff;
}
